.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 0;

  &__inner {
    flex: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
  }

  &__logo {
    background-image: url(ihp-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 50px;
  }

  &__nav {

  }
    
}

.navigation {
  display: flex;

  &__item {
    color: $dark-blue;
    text-decoration: none;
    display: block;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0);
    box-sizing: border-box;

    &--active {
      color: $light-blue;
    }

    &:hover {
      border: 1px solid $light-grey;
      border-bottom: none;
    }
  }
}
